.header-page {
    background-color: #b2142469;
    height: 200px;
    width: 100%;
}

.header-page .header-content {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: flex-end;
    padding-top: 1.6rem;

    width: 90%;
    margin: 0 auto;
}

.header-page .title{
    font: 500 3.6rem Ubuntu ;
    color:white;
    line-height: 2.4rem;
    padding: 2.4rem;
}
